.aCliquable{
    cursor: pointer;
}
mat-toolbar{
    background-color: #141B41;
    color: white;
    height: 50px;
    position: fixed;
    top: 0;
}
.boutonNavigation { display: none; }
@media screen and (min-width: 768px) {
    .boutonNavigation {display: inline}
}