h3{
    color: #141B41;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
    text-align: center;
    font-family: Roboto;
}

@media (max-width: 500px){
    
}
mat-icon{
    margin-right: 10px;
}
