.highlight {
    background: #6F9CEB;
  }

  .mat-form-field {
    font-size: 14px;
    width: 12%;
}
/*h2 {
  position: relative;
   top: 13px;
   
   right: 0;
   left: 0;
   }*/
h2 {
  position: fixed;
  top: 45px;
  }
.basDePage {
  display: inline;
  position: fixed;
  bottom: 5%;
  overflow: hidden;
  }
.filtre{
  position: fixed;
  top: 100px;
  width: 95%;
  }
.filtreTableauBureau{
  position: fixed;
  top: 140px;
  bottom: 100px;
  width: 95%;
  overflow: auto;
  background: rgb(231, 231, 231);
}