<div class="bloc-icon">
  <div class="div-image"><a class="aCliquable" routerLink="/bureaux"><img class="bouton-accueil" src="../assets/bureau.png" alt="Bureau"></a></div>
  <div class="div-image"><a class="aCliquable" routerLink="/materiels"><img class="bouton-accueil" src="../assets/ordi.png" alt="Materiel"></a></div>
</div>

<div class="bloc-icon">
  <div class="div-image"><a class="aCliquable" routerLink="/utilisateurs"><img class="bouton-accueil" src="../assets/utilisateur.png" alt="Utilisateurs"></a></div>
</div>